body {
	font-family: sans-serif;
	margin: 0;
}

h1 {
	font-weight: 300;
	font-style: italic;
}

.slideshow {
	overflow-y: hidden;
	overflow-x: hidden;
	height: 400px;
}

.slide-group {
	display: flex;
	flex-wrap: nowrap;
	position: relative;
	width: 100%;
	height: 100%;
	left: 0;
	transition: left 1s;
}

.slide {
	flex: 0 0 auto;
	width: 100%;
	background-color: #555;
	left: 0;
}

.slide img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	pointer-events: none;
}

.slide .yt-embed {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	top: 50%;
	transform: translateY(-50%);
}

.yt-embed iframe,
.yt-embed object,
.yt-embed embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.slideshow-controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.slideshow-controls button {
	border: none;
	background: none;
	cursor: pointer;
	padding: 10px;
}

.slideshow-pagination {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.slideshow-pagination li {
	display: inline-block;
	margin: .25em;
}

.slideshow-pagination li a {
	text-decoration: none;
	color: #555;
	font-size: 1.5em;
	font-weight: 300;
}
.slideshow-pagination li a:hover {
	opacity: 0.5;
}
.slideshow-pagination li a:visited {
	color: #555;
}
