h1 {
	font-family: sans-serif;
	font-weight: 300;
	font-style: italic;
}

.slideshow {
	overflow-y: hidden;
	overflow-x: hidden;
	height: 400px;
}

.slide-group {
	display: flex;
	flex-wrap: nowrap;
	position: relative;
	width: 100%;
	height: 100%;
	left: 0;
	transition: left 1s;
}

.slide {
	flex: 0 0 auto;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	/* background-color: #000; */
	left: 0;
}

.slide img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.slideshow-controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.slideshow-controls button {
	border: none;
	cursor: pointer;
	padding: 10px;

	font-size: 2em;
	font-weight: bold;
}

.slideshow-controls ul.slideshow-pagination {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.slideshow-controls ul.slideshow-pagination li {
	display: inline-block;
}
