body {
	font-family: sans-serif;
	margin: 0;
}

h1 {
	font-weight: 300;
	font-style: italic;
}

.slideshow {
	overflow-y: hidden;
	overflow-x: hidden;
	height: 400px;
}

.slide-group {
	display: flex;
	flex-wrap: nowrap;
	position: relative;
	width: 100%;
	height: 100%;
	left: 0;
	transition: left 1s;
}

.slide {
	flex: 0 0 auto;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: #000;
	left: 0;
}

.slide img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	pointer-events: none;
}

.slideshow-controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.slideshow-controls button {
	border: none;
	cursor: pointer;
	padding: 10px;

	font-size: 2em;
	font-weight: bold;
}

.slideshow-pagination {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.slideshow-pagination li {
	display: inline-block;
	margin: .25em;
}

.slideshow-pagination li a {
	text-decoration: none;
	color: #555;
	font-size: 1.5em;
	font-weight: 300;
}
.slideshow-pagination li a:hover {
	opacity: 0.5;
}
.slideshow-pagination li a:visited {

}
